<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="./css/style.min.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800" rel="stylesheet">
 
</head>
<body>
<header role="banner">
  <h1>Inclusive Design & Accessibility</h1>

  <a href="mailto:info@idea11y.nl">info@idea11y.nl</a>
</header>


<main id="main" role="main"> 

{% capture today %}{{'now' | date: '%s' }}{% endcapture %}


{% for post in site.posts reversed %}

	{% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

	{% if blogDate >= today %}

    <section class="meetup first-up">
        <h2>Eerstvolgende bijeenkomst</h2>

        <div>


            <h3>
                {{ post.title }}
            </h3>

            <dl>
                <dd>Wanneer</dd>
                <dt>{{ post.date | date: "%e %B %y" }}</dt>
                <dd>Waar</dd>
                <dt>UNITiD, Schiedamsedijk 40a, Rotterdam</dt>
            </dl>

            <p>
            	{{ post.excerpt }}
            </p>

            <span>{{ post.date | date: "%e %b" }}</span>


        </div>


        <button>Meld je aan</button>

        <a href="https://www.meetup.com/Inclusive-Design-Accessibility/events/239750521/">Meer informatie</a>

    </section>

    	{% break %}
    {% endif %}


{% endfor %}

{% for post in site.posts %}

	{% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

	{% if blogDate < today %}

    <section class="meetup">
        <h2>Vorige bijeenkomst</h2>

        <div>

            <h3>
                Global Accessibility Awareness Day
            </h3>

            <h4>Presentaties</h4>

            <ul>
                <li>Wilco Fiers &mdash; Axe Web Accessibility Testing Tool</li>
                <li>Elisa Ostet &mdash; Sport en Digitale Toegankelijkheid</li>
                <li>Jules Ernst &mdash; Digitale Toegankelijkheid in Nederland</li>

            </ul>

            <span>18 mei</span>

        </div>

        <a href="https://www.meetup.com/Inclusive-Design-Accessibility/events/239750369/">Bekijk deze bijeenkomst op Meetup.com</a>


    </section>
	
	{% break %}

    {% endif %}

{% endfor %}



    <section class="past-meetups">
        <h2>Eerdere bijeenkomsten</h2>

        <ol>


        {% for post in site.posts %}

 			{% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

        	{% if blogDate < today %}

            <li>
                <h3>{{ post.title }}</h3>
                <span>{{ post.date | date: "%e %B %y" }}</span>
            </li>
            {% endif %}

		{% endfor %}

        </ol>


        <a href="https://www.meetup.com/Inclusive-Design-Accessibility/">Alle bijeenkomsten</a>

    </section>



</main>
</body>
</html>  