<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="./css/style.min.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800" rel="stylesheet">
 
</head>
<body>
<header role="banner">
  <h1>Inclusive Design & Accessibility</h1>

  <a href="mailto:info@idea11y.nl">info@idea11y.nl</a>
</header>


<main id="main" role="main"> 
  
{% for post in site.posts %}
	{% if post.volgende %}

    <section class="meetup first-up">
        <h2>Eerstvolgende bijeenkomst</h2>

        <div>

            <h3>
                {{ post.title }}
            </h3>

            <dl>
                <dd>Wanneer</dd>
                <dt>{{ post.date | date: "%e %B %y" }}</dt>
                <dd>Waar</dd>
                <dt>UNITiD, Schiedamsedijk 40a, Rotterdam</dt>
            </dl>

            <p>
            	{{ post.excerpt }}
            </p>

            <span>{{ post.date | date: "%e %b" }}</span>

        </div>


        <button>Meld je aan</button>

        <a href="https://www.meetup.com/Inclusive-Design-Accessibility/events/239750521/">Meer informatie</a>

    </section>

    {% endif %}

{% endfor %}

</main>
</body>
</html>  