<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="./css/style.min.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800" rel="stylesheet">
 
</head>
<body>
<header role="banner">
  <h1>Inclusive Design & Accessibility</h1>

  <a href="mailto:info@idea11y.nl">info@idea11y.nl</a>
</header>


<main id="main" role="main"> 

{% capture today %}{{'now' | date: '%s' }}{% endcapture %}

{% for post in site.posts reversed %}

	{% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}


	{% if blogDate >= today %}


    <section class="meetup first-up">
        <h2>Eerstvolgende bijeenkomst</h2>

        <div>


            <h3>
                {{ post.title }}
            </h3>

            <dl>
                <dd>Wanneer</dd>
                <dt>{{ post.date | date: "%e %B %y" }}</dt>
                <dd>Waar</dd>
                <dt>UNITiD, Schiedamsedijk 40a, Rotterdam</dt>
            </dl>

            <p>
            	{{ post.excerpt }}
            </p>

            <span>{{ post.date | date: "%e %b" }}</span>


        </div>


        <!--button>Meld je aan</button-->


        {{% if post.meetuplink }}
        <a href="{{ post.meetuplink }}">Meer informatie</a>
        {{% endif %}}

    </section>

    	{% break %}
    {% endif %}


{% endfor %}

{% for post in site.posts %}

	{% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

	{% if blogDate < today %}

    <section class="meetup">
        <h2>Vorige bijeenkomst</h2>

        <div>

            <h3>
                {{ post.title }}
            </h3>

            <h4>Presentaties</h4>

            {{ post.excerpt }}

            <span>{{ post.date | date: "%e %b" }}</span>

        </div>

        {{% if post.meetuplink }}
        <a href="{{ post.meetuplink }}">Bekijk deze bijeenkomst op Meetup.com</a>
        {{% endif %}}


    </section>
	
	{% break %}

    {% endif %}

{% endfor %}



        <div class="background-blue">
            <section class="who-are-we">
                <div>
                    <h2>Wie zijn wij?</h2>


                    <p>
                        <abbr title="inclusive Design en Accessibility">Idea11y</abbr> organiseert bijeenkomsten over inclusive design en toegankelijkheid. We nodigen sprekers uit om te praten over UX design, UI design, wetgeving, accessibility, product design, user research en meer.
                    </p>
                    <p>
                        <abbr>Idea11y</abbr> wordt georganiseerd door Job van Achterberg, Irene Frijns en Eva Westerhoff.
                    </p>
                </div>


                <div>
                    <h3>Contact</h3>
                    <p>
                        Wil je spreken of sponsoren of heb je een andere vraag voor ons? Je kunt ons e-mailen op <a href="mailto:info@idea11y.nl">info@idea11y.nl</a> of via de volgende kanalen:
                    </p>

                </div>

            </section>
        </div>

    <section class="past-meetups">
        <h2>Eerdere bijeenkomsten</h2>

        <ol>


        {% for post in site.posts %}

 			{% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

        	{% if blogDate < today %}

            <li>
                <h3>{{ post.title }}</h3>
                <span>{{ post.date | date: "%e %B %y" }}</span>
            </li>
            {% endif %}

		{% endfor %}

        </ol>


        <a href="https://www.meetup.com/Inclusive-Design-Accessibility/">Alle bijeenkomsten</a>

    </section>



</main>

<!--script>
	var key = '',
		buttonRSVP = document.querySelector('button'),
		urlRSVP = "https://api.meetup.com/:urlname/events/237982509/rsvps";

	buttonRSVP.addEventListener('click', function(e) {
		fetch(urlRSVP).then(function(response) {
			console.log(response);
		});
	});


</script-->

</body>
</html>  