<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="/ideal/css/style.min.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800" rel="stylesheet">
 
</head>
<body>
<header role="banner">
  <h1>{{page.title}}</h1>

  <a href="mailto:info@idea11y.nl">info@idea11y.nl</a>
</header>


<main id="main" role="main"> 

        <section class="meetup">
            <h2>Vorige bijeenkomst</h2>

            <div>

                <h3>
                    {{page.title}}
                </h3>

                <h4>Presentaties</h4>


				{{ content }}


                <span>{{ page.date | date: "%b %y" }}</span>

            </div>

            <a href="https://www.meetup.com/Inclusive-Design-Accessibility/events/239750369/">Bekijk deze bijeenkomst op Meetup.com</a>


        </section>



</main>
</body>
</html>  
